.App {
  text-align: center;
  padding: 2rem;
  font-family: sans-serif;
  background-color: #f7f9fc;
}

.App-header {
  background: #282c34;
  color: white;
  padding: 2rem;
  border-radius: 10px;
}
